@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url(./layout/layout.css);
@import url(./components/container.css);
@import url(./components/header.css);
@import url(./components/logo.css);
@import url(./components/menu.css);
@import url(./components/contacts.css);
@import url(./components/hero.css);
@import url(./components/button.css);
@import url(./components/section.css);
@import url(./components/tours.css);
@import url(./components/news.css);
@import url(./components/paginator.css);
@import url(./components/about.css);
@import url(./components/footer.css);
@import url(./components/wrapper.css);
@import url(./components/services_page.css);


html, body {
    /* height: 100%; */
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

a {
    color:inherit;
}

 ul {
     padding: 0;
     margin: 0;
}

ul li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight: normal;
}

p {
    margin-top: 0px;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}



