@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url(./layout/layout.css);
@import url(./components/container.css);
@import url(./components/header.css);
@import url(./components/logo.css);
@import url(./components/menu.css);
@import url(./components/contacts.css);
@import url(./components/hero.css);
@import url(./components/button.css);
@import url(./components/section.css);
@import url(./components/tours.css);
@import url(./components/news.css);
@import url(./components/paginator.css);
@import url(./components/about.css);
@import url(./components/footer.css);
@import url(./components/wrapper.css);


html, body {
    /* height: 100%; */
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

a {
    color:inherit;
}

 ul {
     padding: 0;
     margin: 0;
}

ul li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    font-weight: normal;
}

p {
    margin-top: 0px;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

/* services page */

.top-line {
    display: flex;
    flex-direction: column;
    min-height: 412px;
    padding-bottom: 19px;
    background: url("../img/headline.png") center top no-repeat;
}

.top-line__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.page-title {
    font-size: 72px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 62px;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: bold;
}

.breadcrumbs__item:after {
    content: "/";
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.page-content {
    background: #fff;
    color: #303030;
    padding: 100px 0;
}

.service {
    display: flex;
}

.services__item {
    margin-bottom: 50px;
}

.service__img {
    width: 30%;
    margin-right: 7%;
}

.service__content {
    flex: 1;
}

.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;

}

.service__desc {
    font-size: 16 px;
    line-height: 124%;
    margin-bottom: 35px;
}