.button {
    background-color: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #fff;
    font-size: 14px;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration: none;
    position: relative;
    top: 13px;
    left: 1px;
}

