.button {
    background-color: #fff;
    color: #F5170E;
    max-width: 135px;
    height: 55px;
    border-radius: 35px;
    padding: 18px 28px 18px 23px; 
    font-size: 14px;
    font-weight:bold;
    text-transform:uppercase;
    text-decoration: none;
    border: 1px solid #F5170E;
}

.button--active {
    background-color: #F5170E;
    color: #fff;
}