.contacts {
    position: absolute;
    font-style: normal;
    color: #fff;
    text-align: right;
    top: 0px;
    right: 0px; 
}

.contacts__phone {
    text-decoration: none;  
    font-size: 26px;
    position: relative;
    margin-bottom: 4px;
    top: -3px;
    left: 0px;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    position: relative;
    top: -10px;
    left: -2px;
}

