.footer {
    height: 100px;
    position: relative;
    top: 29px;
    left: 390px;
}

.socials {
    display: inline-block;
    position: relative;
    top: -38px;
    right: -700px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;

}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}