.hero__text-section {
    position: relative;
    width: 511px;
    left: 390px;
    top: 24px;
}

.hero__title {
    font-size:72px;
    font-weight: bold;
    line-height: 98px;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 33px;
}

