.hero {
    margin: 0 auto;
    height: 100%;
}


.hero__text-section {
    width: 511px;
    margin-bottom: 277px;
}

.hero__title {
    font-size:72px;
    font-weight: bold;
    line-height: 98px;
    margin-bottom: 28px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 55px;
}

