.menu {
    display: inline-block;
    position: relative;
    top: -10px;
    


    
    /* line-height: 19.07px; */
}


.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}

.menu__link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.menu__item:last-child {
    margin-right: 522;
}
