.menu {
    
    display: inline-block;
    position: relative;
    font-size: 14px;
    /* line-height: 19.07px; */
    top: -8px;
    left: -5px;
}

.menu__link {
    color: #fff;
    text-decoration: none;
}

.menu__item {
    display: inline-block;
    margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}
