.menu {
    display: inline-block;
    position: relative;
    top: -13px;
}

.menu__link {
    color: #fff;
    text-decoration: none;
}

.menu__item {
    display: inline-block;
    margin-right: 54px;
}