.preview {
    position: relative;
    margin-bottom: 150px;
}

.preview__conteiner {
    position:absolute;
    display: inline-block; 
    width: 511;
    height: 333px;
    margin-left: 390px;
}

.preview__title {
    font-size:72px;
    font-weihgt: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}

.preview__text {
    font-size: 18px;
    margin-bottom:45px;
}