.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;

}

    .reviews {
        column-count: 2;
        column-gap: 30px;
        margin-bottom: 70px;
    }

.reviews__item {
    margin-bottom: 20px;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;
}

.review__user:after {
    content: url("../../img/vk-blue.png");
    height: 29px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.tag {
    font-size: 13px;
    background-color: #E7E7E7;
    color: #303030;
    padding: 8px 16px;
    border-radius: 50px;
}

.tag--bg--green {
    background-color: #B9EAE4;
}

.review__title {
    font-size: 30px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 23px;
}

.review__content-text {
    margin-bottom: 50px;
}

.review__date {
    font-size: 14px;
    color: #1A1B1E;
    font-weight: bold;
}

.separator::after {
    background: url("../../img/couple.png") center center  no-repeat;
    
}

.separator {
    background: url("../../img/separator_fon.png") center no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.separator__content {
    max-width: 50%;
}

.separator__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
}