.wrapper {
    overflow: hidden;
    
    /* min-width: 1920px; */
    
}

.main-page-wrapper {
    background: url(../../img/hero.png) center top no-repeat, url(../../img/bottom-pic.png) center bottom no-repeat;
    background-color: #001821;
}




