.wrapper {
    overflow: hidden;
    /* min-width: 1920px; */
    min-height: 100%;
}

.main-page-wrapper {
    background: url(../../img/hero.png) center top no-repeat, url(../../img/bottom-pic.png) right bottom no-repeat;
    background-color: #001821;
}


